.how-it-works {
	padding: 70px 0 110px;

	@include media($media-medium) {
		padding: 60px 0 80px;
	}

	@include media($media-small) {
		padding: 40px 0;
	}

	&__container {
	}

	&__title_block {
		font-size: 36px;
		text-align: center;
		margin-bottom: 40px;
	}

	&__content {
		@include media($media-medium) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__top,
	&__bottom {
		display: flex;
		gap: 30px;
	}

	&__top {
		position: relative;

		@include media($media-medium) {
			flex-wrap: wrap;
			flex: 1 1 100%;
		}

		& .how-it-works__item {
			&:first-child {
				position: relative;

				&::after {
					content: "";
					display: block;
					position: absolute;
					left: 0;
					bottom: -4px;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background-color: $blackColor;

					@include media($media-medium) {
						display: none;
					}
				}
			}
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $blackColor;

			@include media($media-medium) {
				display: none;
			}
		}

		& .how-it-works__item {
			@include media($media-medium) {
				flex: 1 1 100%;
			}
		}
	}

	&__bottom {
		@include media($media-medium) {
			flex-wrap: wrap;
			flex: 1 1 100%;
		}

		& .how-it-works__item {
			@include media($media-medium) {
				flex: 1 1 100%;
			}
		}
	}

	&__item {
		flex: 1 1 25%;

		@include media($media-medium) {
			padding: 0 !important;

			&::after {
				display: none !important;
			}
		}
	}

	&__header {
		display: flex;
		gap: 10px;
		align-items: center;
		margin-bottom: 15px;
	}

	&__img {
	}

	&__text {
	}
}

.border-vertical {
	position: relative;

	&::after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 2px;
		height: 20px;
		background-color: $blackColor;
	}

	&_left {
		&::after {
			left: 0;
		}
	}

	&_top {
		padding-top: 30px;

		&::after {
			bottom: unset;
			top: 0;
		}
	}

	&_bottom {
		padding-bottom: 30px;

		&::after {
			top: unset;
			bottom: 0;
		}
	}
}
