.breadcrumbs {
	padding: 15px 0;

	&__container {
	}

	&__list {
		display: flex;
		overflow-x: auto;
	}

	&__item {
		position: relative;
		padding-right: 8px;

		&:not(:last-child)::after {
			content: "/";
			position: absolute;
		}
	}

	&__link {
		font-size: 14px;
		line-height: 24px;
	}

	&_background {
		background-color: rgba(#dfdfdf, 0.5);
	}
}
