.footer {
	&__content {
		background: #dfdfdf;
	}

	&__container {
		padding-top: 60px;
		padding-bottom: 80px;

		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		> * {
			&:not(:last-child) {
				padding-right: 15px;
			}
		}

		@include media($media-large) {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		@include media($media-medium) {
			flex-wrap: wrap;
			row-gap: 30px;
		}

		@include media($media-small) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}

	&__info {
		max-width: 540px;

		@include media($media-medium) {
			max-width: unset;
			flex: 1 1 100%;
		}
	}

	&__social {
		margin-right: auto;
		margin-left: 100px;

		@include media($media-large) {
			margin-left: 50px;
		}

		@include media($media-medium) {
			margin: unset;
			flex: 1 1 50%;
		}
	}

	&__menu {
		margin-right: 60px;

		@include media($media-large) {
			margin-right: 50px;
		}

		@include media($media-medium) {
			margin: unset;
			flex: 1 1 50%;
		}
	}

	&__copyright {
		background-color: #363838;
	}
}
.info-footer {
	&__title {
		margin-bottom: 14px;

		@include media($media-large) {
			text-align: center;
		}

		@include media($media-medium) {
			font-size: 24px;
		}
	}

	&__text {
		max-width: 476px;
		margin-bottom: 16px;

		@include media($media-large) {
			text-align: center;
		}

		@include media($media-medium) {
			max-width: unset;
		}

		@include media($media-medium) {
			font-size: 18px;
		}
	}

	&__email {
		display: flex;
		gap: 15px;
		font-size: 14px;
		font-weight: 600;
		color: $blackColor;
		margin-bottom: 22px;

		@include media($media-large) {
			justify-content: center;
		}
	}

	&__email-text {
		@include media($media-medium) {
			font-size: 16px;
		}
	}

	&__form {
	}
}

.form-footer {
	display: flex;
	justify-content: space-between;
	gap: 9px;

	&__input {
		flex: 1 1 auto;

		padding: 6px 10px 6px 18px;
		border-radius: 21px;
		background-color: transparent;
		border: 1px solid rgba(#383636, 0.7);

		&::placeholder {
			font-family: OpenSans;
			font-weight: 400;
			color: #a1a1a1;
		}

		@include media($media-medium) {
			font-size: 18px;
		}
	}

	&__button {
		@include media($media-large) {
			width: 180px;
			margin: 0 auto;
		}
	}

	@include media($media-large) {
		flex-direction: column;
		row-gap: 20px;
	}
}
.social-footer {
	max-width: 130px;
	width: 100%;

	@include media($media-medium) {
		max-width: unset;
		width: unset;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__link {
		position: relative;
		padding-left: 28px;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 3px;
			width: 16px;
			height: 16px;
		}

		&_facebook {
			&::before {
				background-image: url(@img/footer/facebook.svg);
				background-repeat: no-repeat;
			}
		}
		&_instagram {
			&::before {
				background-image: url(@img/footer/instagram.svg);
				background-repeat: no-repeat;
			}
		}
		&_pinterest {
			&::before {
				background-image: url(@img/footer/pinterest.svg);
				background-repeat: no-repeat;
			}
		}
		&_whatsapp {
			&::before {
				background-image: url(@img/footer/whatsapp.svg);
				background-repeat: no-repeat;
			}
		}
		&_youtube {
			&::before {
				background-image: url(@img/footer/youtube.svg);
				background-repeat: no-repeat;
			}
		}

		@include media($media-medium) {
			font-size: 18px;
		}
	}
}
.menu-footer {
	max-width: 130px;
	width: 100%;

	@include media($media-medium) {
		max-width: unset;
		width: unset;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__list {
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__link {
		@include media($media-medium) {
			font-size: 18px;
		}
	}
}
.copyright-footer {
	&__container {
		padding-top: 15px;
		padding-bottom: 15px;
		min-height: 110px;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__text {
		color: #a1a1a1;
	}
}
