.header {
	width: 100%;
	&.sticky {
		// ..стили для липкого хедера
	}

	&__container {
		height: rem($headerHeight);
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding-top: 15px;
		padding-bottom: 15px;
	}

	&__menu {
	}

	&__logo {
		flex: 1 1 auto;
		padding: 0 15px;
	}

	&__button {
		background-color: transparent;
	}
}

.menu {
	&_left {
		padding-left: 32.5px;
	}

	&_right {
		padding-right: 61.5px;
	}

	&__list {
		display: flex;
		gap: 80px;
	}

	&__item {
	}

	&__link {
		color: rgba($blackColor, 0.9);

		&_active {
			text-decoration: underline;
			text-underline-offset: 4px;
			text-decoration-thickness: 2px;
			text-decoration-color: rgba(#363838, .7);
		}
	}
}

.logo {
	display: flex;
	justify-content: center;

	&__img {
	}
}
