.demonstration {
	position: relative;
	padding: 167px 0;

	&__play-button {
		position: relative;
		z-index: 100;
		margin: 0 auto;
	}

	&__previe-ibg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
