.inspiration {
	position: relative;

	@include media($media-xl-very-large) {
		&::after {
			content: "";
			position: absolute;
			z-index: 100;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(white, 0.5);
		}
	}

	&__inner {
		position: relative;

		position: relative;
		z-index: 150;
		margin-left: 10%;
		padding: 100px 0 45px;

		@include media($media-medium) {
			margin: 0;
			padding: 80px 0 45px;
		}

		@include media($media-medium) {
			padding: 40px 0;
		}
	}

	&__img {
		position: absolute;
		z-index: 10;
		top: 100px;
		left: 10%;
	}

	&__box {
		// max-width: 825px;
	}

	&__title {
		font-size: 36px;
		line-height: 60px;

		@include media($media-small) {
			font-size: 28px;
			line-height: 36px;
			text-align: center;
		}
	}

	&__text {
		margin-bottom: 30px;

		@include media($media-small) {
			text-align: center;
		}
	}

	&__list {
	}

	&__characteristic {
		padding-bottom: 16px;

		@include media($media-medium) {
			font-size: 14px;
		}
	}

	&__value {
	}

	&__line {
		height: 2px;
		background-color: $blackColor;
		border-radius: 4px;
		margin-top: -2px;
	}

	&__item {
		margin-bottom: 35px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid #fff;
		border-radius: 4px;
	}

	&__background-ibg {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: calc(400 / 650 * 100%);
	}
}
