.top-about {
	height: 400px;

	position: relative;
	&::after {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#fffff0, 0.5);
	}

	&__container {
		position: relative;
		z-index: 100;
	}

	&__inner {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__breadcrumbs {
		margin-bottom: 105px;
	}

	&__title {
		text-align: center;
		font-size: 60px;
		line-height: 80px;
	}

	&__background-ibg {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
